---
import { sanityClient } from "sanity:client";
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";

const { SITE_TITLE, SITE_DESCRIPTION } = await import("../../consts");

// GROQ get a portfolio detail by slug
const PORTOFOLIO_DETAIL_QUERY = `*[_type == "Portfolio" && slug.current == $slug][0] {
    _id, 
    uploadDate,
    themeName, 
    slug, 
    collectionName,
    "coverUrl": portfolioCover.asset->url,
    "imageUrls": portfolioImages[].asset->url,
    versionAvailable,
    useCases,
    software,
    formatAvailable,
    moreInformation
}`;

// Get all slugs for static generation
export async function getStaticPaths(): Promise<{ params: { slug: string } }[]> { 
  const SLUGS_QUERY = `*[_type == "Portfolio"]{ "params": {"slug": slug.current} }`;
  return await sanityClient.fetch(SLUGS_QUERY);
}
// Fetch portfolio detail based on slug
const portfolio = await sanityClient.fetch(PORTOFOLIO_DETAIL_QUERY, {slug: Astro.params.slug });
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <div class="title">
      <div>
        <h1>{portfolio?.themeName}</h1>
      </div>
      <div class="titleDetail">
        <p>{portfolio?.uploadDate}</p>
        <p>COLLECTION OF {portfolio?.collectionName}</p>
      </div>
    </div>
    <div class="galleryContainer">
      <div class="slides">
        {
          portfolio?.coverUrl && (
            <img src={portfolio.coverUrl} alt={portfolio?.themeName} />
          )
        }
        {
          portfolio?.imageUrls?.map((url: any) => (
            <img src={url} alt="Portfolio image" />
          ))
        }
        <div class="scrollTag">
          <p>Scroll</p>
        </div>
      </div>
    </div>
    <div class="information">
      <div class="data">
        <p>Version available : </p>
        <div class="tags">
          {
            portfolio?.versionAvailable?.map((v: any) => (
              <span class="tag">{v}</span>
            ))
          }
        </div>
      </div>
      <div class="data">
        <p>Use Case : </p>
        <div class="tags">
          {portfolio?.useCases?.map((u: any) => <span class="tag">{u}</span>)}
        </div>
      </div>
      <div class="data">
        <p>Software : </p>
        <div class="tags">
          {portfolio?.software?.map((s: any) => <span class="tag">{s}</span>)}
        </div>
      </div>
      <div class="data">
        <p>Format available : </p>
        <div class="tags">
          {
            portfolio?.formatAvailable?.map((f: any) => (
              <span class="tag">{f}</span>
            ))
          }
        </div>
      </div>
      <div class="data">
        <p>More information : </p>
        <div class="tags">
          {
            portfolio?.moreInformation?.map((m: any) => (
              <span class="tag">{m}</span>
            ))
          }
        </div>
      </div>
    </div>
    <Footer />
  </body>
</html>
<style>
  h1,
  p {
    margin-block: 0;
  }
  .title,
  .galleryContainer,
  .information {
    margin-block-end: 4em;
  }
  .title {
    gap: 2rem;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    margin-block-start: 2em;
    .titleDetail {
      gap: 20px;
      display: flex;
      flex-direction: column;
    }
  }
  .galleryContainer {
    display: flex;
    position: relative;
    justify-content: center;
    .slides {
      width: 100%;
      height: 76vh;
      max-height: 480px;
      border-radius: 20px;
      display: flex;
      flex-direction: row;
      overflow-x: scroll;
      overflow-y: hidden;
      scrollbar-width: thin;
      scroll-behavior: smooth;
      scroll-snap-type: x mandatory;
      -webkit-overflow-scrolling: touch;
      scrollbar-color: var(--gray) transparent;
      img {
        height: 100%;
        min-width: 100%;
        display: block;
        flex-shrink: 0;
        object-fit: cover;
        scroll-snap-align: center;
      }
      .scrollTag {
        top: 45%;
        right: -14px;
        position: absolute;
        color: var(--brown);
        transform: rotate(90deg);
        padding: 0 10px 10px 10px;
        border-end-end-radius: 100px;
        border-end-start-radius: 100px;
        background-color: var(--white-peach);
        font-family: "RacingSansOne", sans-serif;
      }
    }
  }
  .information {
    gap: 1em;
    display: flex;
    flex-direction: column;
    margin-left: 1em;
    .data {
      gap: 0.5em;
      display: flex;
      align-items:start;
      width: fit-content;
      flex-direction: column;
      width: -webkit-fill-available;
      .tags {
        display: flex;
        row-gap: .5em;
        flex-wrap: wrap;
        column-gap: 0.1em;
        span {
          font-size: 16px;
          border-radius: 14px;
          padding: 0.2em 0.6em;
          margin-inline: 0.3em;
          color: var(--black);
          border: 1px solid var(--gray);
        }
      }
    }
  }

  @media (width >= 500px) {
    .title .titleDetail {
      flex-direction: row;
      justify-content: space-between;
    }
    .galleryContainer {
      .slides {
        overflow-x: hidden;
        overflow-y: scroll;
        flex-direction: column;
        scroll-snap-type: y mandatory;
        .scrollTag {
          right: -1px;
        }
      }
    }
    .information {
      .data {
        flex-direction: row;
        align-items: center;
      }
    }
  }

  @media (width < 320px) {
    .tags {
      width: fit-content;
      flex-direction: column;
      span {
        width: fit-content;
      }
    }
  }
</style>
