---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import '../styles/global.css';
import { SITE_TITLE } from '../consts';

interface Props {
	title: string;
	description: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { title, description } = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/x-icon" href="/naorye/NAORYE.ico" />
<link rel="icon" type="image/svg+xml" href="/naorye/src/assets/NAORYE.svg" /> <!-- fallback -->
<link rel="sitemap" href="/naorye/sitemap-index.xml" />
<link
	rel="alternate"
	type="application/rss+xml"
	title={SITE_TITLE}
	href={new URL('rss.xml', Astro.site)}
/>
<meta name="generator" content={Astro.generator} />

<!-- Font preloads -->
<link rel="preload" href="/naorye/fonts/RacingSansOne-Regular.ttf" as="font" type="font/ttf" crossorigin />
<link rel="preload" href="/naorye/fonts/AlbertSans-VariableFont_wght.ttf" as="font" type="font/ttf" crossorigin />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<style is:global>
  @font-face {
    font-family: RacingSansOne;
    src: url(/naorye/fonts/RacingSansOne-Regular.ttf) format("truetype");
    font-display: swap;
  }
  @font-face {
    font-family: AlbertSans;
    src: url(/naorye/fonts/AlbertSans-VariableFont_wght.ttf) format("truetype");
    font-display: swap;
  }
</style>